<style>
    .table_invoice {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    .table_invoice caption {
        font-size: 10px;
        margin: 0.5em 0 0.75em;
    }

    .table_invoice tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 2px;
    }

    .table_invoice th,
    .table_invoice td {
        padding: 0.625em;
        text-align: center;
    }

    .table_invoice th {
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        .table_invoice {
            border: 0;
        }

        .table_invoice caption {
            font-size: 10px;
        }

        .table_invoice thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .table_invoice tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
        }

        .table_invoice td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 10px;
            text-align: right;
        }

        .table_invoice td::before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        .table_invoice td:last-child {
            border-bottom: 0;
        }
    }
</style>

<table class="table_invoice">
    <tbody>
        <tr>
            <td data-label="Account">Description</td>
            <td data-label="Due Date">Total</td>
        </tr>
        <tr>
            <td scope="row" data-label="Account">Pendaftaran APHA</td>
            <td data-label="Due Date">Rp. 200.000</td>
        </tr>
        <tr>
            <td scope="row" data-label="Account">Total</td>
            <td data-label="Due Date">Rp. 200.000</td>
        </tr>
    </tbody>
</table>
